.comment{
    position:relative;
    display:flex;
    flex-direction: column;
    gap:0.5rem;
    padding:1rem;
}

.commentUser{
    display: flex;
    gap:0.5rem;
    align-items: center;
    justify-content: space-between;
}

.div1{
    display:flex;
    align-items: center;
    gap:0.5rem;
    width: 100%;
}

.div1 form {
    width: 100%;
}

.div1  textarea {
    width: 80%;

}


.commentUser > p {
    font-style: italic;
}

.commentDate{
    width: 100%;
    font-size: 12px;
    text-align: end;
    color:grey;
}