.comment{
    display:flex;
    flex-direction: column;
    gap:0.5rem;
    padding:1rem;
}

.commentUser{
    display: flex;
    gap:0.5rem;
    align-items: center;
}

.commentUser > p {
    font-style: italic;
}

.commentDate{
    width: 100%;
    font-size: 12px;
    text-align: end;
    color:grey;
}