header{
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 234, 229);
    border-bottom: 1px solid rgb(213, 213, 213);
}

h1{
    font-size: 25px;
}