.nf-container{
    width: 90%;
    height: 90%;
    border: 1px solid var(--border-color);
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
        display:flex;
        justify-content: center;
        align-items: center;

}