section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    width: 100vw;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.postUser {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1rem;
    margin-top: 0.5rem;
}

.first {
    width: 85%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.userName {
    font-size: 15px;
    font-style: italic;
}

.postTitle {
    font-weight: 500;
    font-size: 18px;
    padding: 0.5rem 1rem;
}

.profilePicture {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid var(--border-color);
}

.postSocials {
    display: flex;
    gap: 1.5rem;
    padding: 0.5rem 1rem;
    color: grey;
}

.likes,
.comments {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.postDescription {
    font-size: 12px;
    padding: 0 1rem;
}

.postComments {
    width: 100%;
    font-size: 12px;
    padding: 0.5rem 1rem;
    font-style: italic;
    color: grey;
}

.postDate {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 10px;
    text-align: end;
    color: grey;
}

@media (min-width: 700px) {
    .userName {
        font-size: 18px;
    }

    .postTitle {
        font-size: 18px;
    }

    .profilePicture {
        width: 30px;
        height: 30px;
    }

    .postDescription {
        font-size: 15px;
    }

    .postComments {
        font-size: 15px;
    }

    .postDate {
        font-size: 12px;
    }
}

@media (min-width: 900px) {
    section {
        width: 50%;
    }

    .postUser {
        gap: 3rem;
    }
}

@media (min-height: 1000px) {
    section {
        width: 70%;
        margin: 2rem 1rem;
    }
    .userName {
        font-size: 25px;
    }

    .postTitle {
        font-size: 25px;
    }

    .profilePicture {
        width: 50px;
        height: 50px;
        border-radius: 40px;
    }

    .postDescription {
        font-size: 18px;
    }

    .postComments {
        font-size: 25px;
    }

    .postDate {
        font-size: 18px;
    }

    .material-symbols-rounded {
        font-size: 50px;
    }

    .count {
        font-size: 25px;
    }
}
