section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(239, 234, 229);
    border: 1px solid grey;
    width: 100vw;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);

}

.postUser {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1rem;
    margin-top: 0.5rem;
}

.userName {
    font-size: 15px;
    font-style:italic;
}

.postTitle {
    font-weight: 500;
    font-size: 18px;
    padding: 0.5rem 1rem;
}

.profilePicture {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid grey;
}

.postSocials {
    display: flex;
    gap: 1.5rem;
    padding:0.5rem 1rem;
    color:grey;
}

.likes,
.comments {
    display: flex;
    gap:0.3rem;
}

.postDescription{
    font-size:12px;
    padding: 0 1rem;
}

.postComments{
    width: 100%;
    font-size: 12px;
    padding: 0.5rem  1rem;
    font-style:italic;
    color:grey;
}

.postDate{
    width:100%;
    padding: 0.5rem 1rem;
    font-size:10px;
    text-align: end;
    color:grey;
}