.profilePage {
    display: flex;
    justify-content: center;
    align-items: start;
}

.profilePageUser {
    width: 100%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.postProfileContainer {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}

.profileUserData {
    display: flex;
    width: 70%;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    position: relative;
    border-bottom: 1px solid var(--border-color);
}

.profileUserName {
    font-weight: 400;
    color: grey;
    font-style: italic;
}

.profilePageImg {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    object-fit: cover;
}

.profileIcons {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.profilePagePosts {
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    justify-content: start;
    gap: 0.5rem;
}

.postProfileTitle {
    padding-bottom: 1rem;
    height: 1rem;
}

.p-publicaciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.p2 {
    color: grey;
    font-style: italic;
    font-size: 15px;
}
.profilePagePosts img {
    width: 27vw;
    height: 27vw;
    object-fit: cover;
}

@media (min-width: 400px) {
    .profileUserData h2 {
        font-size: 25px;
    }
}

@media (min-width: 900px) {
    .profileUserData h2 {
        font-size: 20px;
    }

    .profilePagePosts img {
        width: 19vw;
        height: 19vw;
        object-fit: cover;
        padding: 1rem 0.5rem;
    }
}
