.main {
    background-color: var(--background-color);
    grid-row: 2/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

main a {
    color: grey;
    text-decoration: none;
    font-style: italic;
}

.titulo {
    font-size: 2rem;
    padding: 10px;
}

.cajetin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
    padding: 10px;
    gap: 0.4rem;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.label {
    padding: 5px;
}
