main a {
    color: grey;
    text-decoration: none;
    font-style: italic;
}

.container-register {
    background-color: var(--background-color);
    grid-row: 2/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.selectPais {
    padding: 0.3rem;
    width: 200px;
    border-radius: 10px;
    padding: 0.2rem;
}

.cajetin-register {
    width: 90%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.4rem;
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
    position: relative;
}

.titulo {
    font-size: 2rem;
    padding: 10px;
}

.form-register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.4rem;
    width: 100%;
    height: auto;
}

.label {
    padding: 5px;
}

.div-checkbox {
    display: flex;
    align-items: center;
}

.div-checkbox > input {
    width: 13px;
}

.log {
    text-align: center;
}

.formSelect {
    border: 2px solid var(black);
    border-radius: 10px;
    font-size: 1rem;
    padding: 0.3rem;
}

.errormsg-Register {
    position: absolute;
    bottom: -3.4rem;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
    padding: 10px;
    text-align: center;
    background-color: var(--background-color);
    color: rgb(192, 77, 77);
}

/* MEDIAS QUERY */

@media (min-width: 820px) {
    .titulo {
        font-size: 2.5rem;
    }
    .form-register > input {
        width: 50%;
    }

    .div-checkbox {
        gap: 5px;
    }
    .div-checkbox > input {
        transform: scale(1.5);
    }
    .div-checkbox label {
        font-size: 1.3rem;
    }
    .boton {
        font-size: 1.3rem;
    }
    .log {
        font-size: 1.3rem;
    }
}

@media (min-width: 900px) {
    .cajetin-register {
        width: 60%;
    }

    .selectPais {
        width: 50%;
        height: 35px;
        font-size: 1rem;
        border: 2px solid black;
    }
}
